@import '../styles/variables.scss';

.nav-container {

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    border-radius: 20px;
    padding: 0 1em;
    background-color: var(--header-bg);
    color: var(--header-color);
    position: relative;

    .hide{
        display: none;
    }


    .nav-links {

        @media screen and (max-width: 992px) {
            display: none;

            
        }

        .nav-list {

            display: flex;
            column-gap: 2em;
            align-items: center;

            li {

                a{
                    font-weight: 500;
                    font-size: $--normal-font-size;
                    color: var(--header-color);

                    &:hover{
                        color: rgb(100, 100, 57);
                        opacity: 1;
                    }
                }
            }
        }
    }

    .nav-toggle{

        display: none;

        @media screen and (max-width: 992px) {
            display: block;   
        }
        
        }

        .close-toggle{
            display: none;
        }


    
}
